<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>yulan_admin</title>
    <link rel="stylesheet" href="../static/index.css">
    <script src="../static/vue.js"></script>
    <script src="../static/index.js"></script>
    <script src="../static/axios.min.js"></script>
</head>

<body>
    <div id="app">
        <el-container style="top: 0;right: 0;margin-top: 0;">
            <el-header
                style="box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);background-color: #dcdfe6;">
                <h1 id="bigtitle" style="color: #d93896;">欢迎回家</h1>
            </el-header>
            <el-container>
                <el-aside width="20%">
                    <el-menu default-active="2" style="height: 540px;">
                        <el-menu-item index="1">
                            <el-link href='/'>回到主页</el-link>
                        </el-menu-item>
                        <el-menu-item index="2" @click="blog_manage">文章管理</el-menu-item>
                        <el-menu-item index="3" @click="comment_manage">评论管理</el-menu-item>
                        <el-menu-item index="4">
                            <el-link href="/edit">写文章</el-link>
                        </el-menu-item>
                    </el-menu>
                </el-aside>
                <el-main style="background-color: white;">


                    <el-table stripe v-loading="loading" :data="tabledata" style="width: 100%;">
                        <el-table-column v-for="(item,index) in tableHead" :label="item.label" :property="item.property"
                            :width="item.width" :key="index">
                        </el-table-column>
                        <el-table-column label="操作">
                            <template slot-scope="scope">
                                <el-popover placement="right" width="400" trigger="click">
                                    <el-input type="textarea" :rows="2" placeholder="请输入内容" v-model="textareareply">
                                    </el-input>
                                    <el-button size="mini" type="primary" plain @click="reply(scope.row)">发送
                                    </el-button>
                                    <el-button slot="reference" class="operate" size="mini" type="primary"
                                        trigger="manual" v-model="visiable" @click="operate(scope.row)">编辑
                                    </el-button>
                                </el-popover>

                                <el-button size="mini" type="danger" @click="confirmedelete(scope.row)">删除</el-button>

                            </template>
                        </el-table-column>
                    </el-table>
                    <el-pagination background layout="prev,pager,next" :total="total_item" :current-page="current_page"
                        :page-size="page_size" @current-change="current_change"></el-pagination>
                </el-main>
            </el-container>

        </el-container>
    </div>
</body>

<script>
    var get_blog = function (self, page) {
        self.loading = true
        axios.get('/api/blogmanage', {
            params: {
                page: page
            }
        }).then(response => {
            self.current_page = page
            self.loading = false
            self.tabledata = response.data.blogdata
            self.total_item = response.data.total_item
            let op = document.getElementsByClassName('operate')
            for (let i = 0; i < op.length; i++) {
                op[i].innerText = '编辑'
            }
        }).catch(error => {
            self.loading = false
            self.$notify({
                title: 'wrong',
                message: '似乎出现的一点问题...重试一下吧',
                offset: 100,
                type: 'error'
            })
        })
    };
    var get_comment = function (self, page) {
        self.loading = true
        axios.get('/api/commentmanage', {
            params: {
                page: page
            }
        }).then(response => {
            self.current_page = page
            self.loading = false
            self.tabledata = response.data.commentdata
            self.total_item = response.data.total_item
            let op = document.getElementsByClassName('operate')
            for (let i = 0; i < op.length; i++) {
                op[i].innerText = '回复'
            }
        }).catch(error => {
            self.loading = false
            self.$notify({
                title: 'wrong',
                message: '似乎出现的一点问题...重试一下吧',
                offset: 100,
                type: 'error'
            })
        })
    };
    var tableHead_blog = [{
            label: "标题",
            property: "name",
            width: 500
        },
        {
            label: "热度",
            property: "hot",
            width: 180
        },
        {
            label: "时间",
            property: "date",
            width: 180
        }
    ];
    var tableHead_comment = [{
            label: "内容",
            property: "content",
            width: 400
        },
        {
            label: "来源",
            property: "comefrom",
            width: 280
        },
        {
            label: "时间",
            property: "date",
            width: 180
        }
    ];
    var Main = {
        data() {
            return {
                visiable: false,
                loading: false,
                tableHead: [],
                tabledata: [],
                total_item: 0,
                current_page: 1,
                page_size: 20,
                now_operate: "",
                id: 0,
                textareareply: '',
            }
        },
        created: function () {
            this.current_page = 1
            this.tableHead = tableHead_blog
            this.now_operate = 'blog'
            get_blog(this, this.current_page)
        },
        methods: {
            confirmedelete: function (index) {
                if (this.now_operate == 'blog') {
                    this.id = index.id
                    this.$confirm('此操作将永久删除该内容, 是否继续?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        axios.get('/api/delete', {
                            params: {
                                id: this.id,
                                operation: this.now_operate
                            }
                        }).then(response => {
                            for (var i = 0; i < this.tabledata.length; i++) {
                                if (this.tabledata[i].id === this.id) {
                                    this.tabledata.splice(i, 1)
                                    break;
                                }
                            }
                            this.$message({
                                type: 'success',
                                message: '删除成功!'
                            });
                        }).catch(error => {
                            this.loading = false
                            this.$notify({
                                title: 'wrong',
                                message: '似乎出现的一点问题...重试一下吧',
                                offset: 100,
                                type: 'error'
                            })
                        })
                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '已取消删除'
                        });
                    })
                } else {
                    this.id = index.id
                    this.$confirm('此操作将永久删除该内容,并删除相关评论, 是否继续?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        axios.get('/api/delete', {
                            params: {
                                id: this.id,
                                operation: this.now_operate,
                            }
                        }).then(response => {
                            let delete_id = response.data
                            for (var i = this.tabledata.length - 1; i >= 0; i--) {
                                if (delete_id.includes(this.tabledata[i].id)) {
                                    this.tabledata.splice(i, 1)
                                }
                            }
                            this.$message({
                                type: 'success',
                                message: '删除成功!'
                            });
                        }).catch(error => {
                            this.loading = false
                            console.log(error)
                            this.$notify({
                                title: 'wrong',
                                message: '似乎出现的一点问题...重试一下吧',
                                offset: 100,
                                type: 'error'
                            })
                        })
                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '已取消删除'
                        });
                    })
                };
            },
            current_change: function (currentpage) {
                if (this.now_operate == 'blog') {
                    get_blog(this, currentpage);
                } else {
                    get_comment(this, currentpage);
                }

            },
            blog_manage: function () {
                this.tableHead = tableHead_blog
                this.now_operate = 'blog'
                get_blog(this, 1)
            },
            comment_manage: function () {
                this.tableHead = tableHead_comment
                this.now_operate = 'comment'
                get_comment(this, 1)
            },
            operate: function (index) {
                if (this.now_operate === "blog") {
                    let h = location.href
                    let end = h.indexOf("/")
                    newhref = h.substring(0, end) + '/revise?blog_id=' + String(index.id)
                    location.href = newhref
                } else {
                    this.visiable = true
                }
            },
            reply: function (index) {
                console.log(index.id)
                console.log(this.textareareply)
                axios.post('/api/manage_reply', {
                    reply_to_id: index.id,
                    content: this.textareareply
                }).then(request => {
                    this.textareareply = ''
                    this.$message({
                        type: 'success',
                        message: '回复成功!'
                    });
                    document.getElementById('bigtitle').click()
                }).catch(error => {
                    console.log(error)
                    this.$notify({
                        title: 'wrong',
                        message: '似乎出现的一点问题...重试一下吧',
                        offset: 100,
                        type: 'error'
                    })
                })

            }
        }
    }
    var Ctor = Vue.extend(Main)
    new Ctor().$mount('#app')
</script>

</html>